*{
    margin: 0;
    box-sizing: border-box;
}
.top{
border: black;
height: 25vh;
border-style: solid;
border-width: 4px;
margin: 20px;
}
.center{
height: 30vh;
border-style: dotted;
border-width: 5px;
margin: 20px;
}
#yellowBox{
height: 20vh;
width: 70vw;
text-align: center;
display: inline-block;
background-color: lightyellow;
box-shadow: 10px 5px 5px gray;
margin-right: 200px;
margin-left: 200px;
}
.bottom{
background-color:white;
height: 45vh;
text-align: center; 
}
#hello{
font-size: 30px;
letter-spacing: 4px;
font-weight: bold;
color: darkblue;
box-shadow: 10px 5px 5px gray;
margin-right: 400px;
margin-left: 400px;
border-style: solid;
border-width: 2px;
border-color: lightgray;
}
#smallRect{
display: inline-block;
width: 3vw;  
height: 15vh;
background-color: purple;
margin: 15px;
}
#spacer{
width: 20px;  
height: 50px;
display: inline-block;
color: white;  
}
#largeRect{
background-color: green;
width: 30vw;
height: 20vh;
margin: 15px;
display: inline-block;
}
#circle{
    background: lightblue;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    float: right;
    margin-right: 350px;
    margin-top: 10px;
    display: inline-block;
}