*{
margin:0;
box-sizing: border-box;
}
#one{
background-color:lightgray;
height: 10vh;
width: 100%;
}
#two{
height: 30vh;
width: 90%;
text-align: center;
padding: 40px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
color: gray;
}
#three{
background-color:#5DADE2;
height: 15vh;
width: 100%;
}
#four{
background-color:#00FFFF;
height: 15vh;
width: 100%;
}
#five{
background-color:#ABEBC6;
height: 15vh;
width: 100%;
}
#six{
background-color:yellow;
height: 15vh;
width: 100%;
}
#blueBox{
display: inline-block;
margin-left: 10px;
margin-top: 10px;
width: 60px;  
height: 60px;
background-color: #5DADE2;
}